body {
    background-color: #1f4287;
    overflow: hidden;
}
/* custom scrollbar */
#middle::-webkit-scrollbar {
    width: 20px;
}

#middle::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#middle::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
.add {
    height: 75px;
    width: 75px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    transform: translateY(0);
    transition: transform 0.9s;
}
.add:hover {
    color: #fff;
    transform: translateY(-10px);
}
.resizable {
    resize: none;
}
#hamburger {
    position: fixed;
    z-index: 100;
    top: 0.5rem;
    right: 0.5rem;
    width: 50px;
    height: 50px;
    padding: 4px;
    font-size: 25px;
    background-color: red;
    cursor: pointer;
}
.closeIcon {
    display: none;
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    list-style: none;
    padding-top: 4rem;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showMenu {
    transform: translateY(0);
}