{% extends 'base.html' %}

{% load static %}

{% block title %} {{ text }} {% endblock title %}

{% block content %}
    <section class="d-flex flex-column vh-100 position-relative">
        <header class="bg-primary d-flex justify-content-between p-1 align-items-center">
            <a href="/diary/read/" class="d-flex">
                <img class="ms-1 pe-auto" src="{% static 'media/detail_images/goback.png' %}" height="50px" width="50px" alt="goBackIcon">
            </a>
            <div>
                <ul class="menu bg-primary">
                    {% if user.is_authenticated %}
                        <a class="text-light mb-3 fs-3" href="/auth/logout">Log Out</a>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                            <span class="text-light ms-5 fs-2">{{ user.username }}</span>
                        </div>
                    {% else %}
                        <a class="text-light fs-3" href="/auth/login/">Login</a>
                        <a class="text-light fs-3" href="/auth/register/">Registration</a>
                    {% endif %}
                  </ul>
                  <button id="hamburger" class="border-0 bg-primary">
                    <i style="color: #fff;" class="menuIcon material-icons">☰</i>
                    <i style="color: #fff;" class="closeIcon material-icons">&#x2715;</i>
                </button>
            </div>
        </header>
        <main class="d-flex justify-content-center align-items-center h-100">
            <div style="height: 700px; width: 700px; border-radius: 15px;" class="bg-white d-flex flex-column align-items-center p-2 position-relative">
                <div class="w-100 d-flex justify-content-between align-items-center mt-2">
                    <h3 class="fs-4 fw-light">{{ day }}</h3>
                    <h3 class="fs-5 fw-lighter"> {{ date|date:"g:iA"|lower }}</h3>
                </div>
                <div id="middle" style="overflow-y: overlay; max-width: 600px;" class="mt-3 w-100" >
                    <p class="px-3 fst-normal text-break fs-3">{{ text }}</p>
                </div>
                <div class="d-flex justify-content-around align-items-center w-100 pt-1 border-top">
                    <a style="height: 55px; width: 55px;" href="/diary/edit/{{ diary.id }}/">
                        <img src="{% static 'media/detail_images/edit.png' %}" height="55" width="55" alt="Edit">
                    </a>
                    <a class="mt-1" style="height: 55px; width: 55px;" href="/diary/del/{{ diary.id }}/">
                        <img src="{% static 'media/detail_images/delete.png' %}" alt="Del">
                    </a>
                </div>
            </div>
        </main>
    </section>
<script>
        const menu = document.querySelector(".menu");
        const menuItems = document.querySelectorAll(".menuItem");
        const hamburger = document.getElementById("hamburger");
        const closeIcon= document.querySelector(".closeIcon");
        const menuIcon = document.querySelector(".menuIcon");
    
        function toggleMenu() {
        if (menu.classList.contains("showMenu")) {
            menu.classList.remove("showMenu");
            closeIcon.style.display = "none";
            menuIcon.style.display = "block";
        } else {
            menu.classList.add("showMenu");
            closeIcon.style.display = "block";
            closeIcon.id = "close";
            menuIcon.style.display = "none";
        }
        }
        menuItems.forEach( 
            function(menuItem) { 
                menuItem.addEventListener("click", toggleMenu);
            }
        )
    
        hamburger.addEventListener("click", toggleMenu);
</script>
{% endblock %}