{% extends 'base.html' %}

{% load static %}

{% block title %} {{ text }} {% endblock title %}

{% block content %}
    <section class="d-flex flex-column vh-100 position-relative">
        <header class="bg-primary d-flex justify-content-between p-1 align-items-center">
            <a href="/diary/read/" class="d-flex">
                <img class="ms-1 pe-auto" src="{% static 'media/detail_images/goback.png' %}" height="50px" width="50px" alt="goBackIcon">
            </a>
            <div>
                {% if user.is_authenticated %}
                    <span class="text-light m-5 fs-3">{{ user.username }}</span>
                    <a class="text-light text-decoration-none fs-4" href="/auth/logout">Log Out</a>
                {% else %}
                    <a class="text-light text-decoration-none fs-4" href="/auth/login/">Login</a>
                {% endif %}
            </div>
        </header>
        <main class="d-flex justify-content-center align-items-center h-100 position-relative">
            <div style="height: 700px; width: 700px; border-radius: 15px;" class="bg-white d-flex flex-column align-items-center p-2">
                <div class="h-25 w-100 d-flex justify-content-between align-items-center">
                    <h3 class="fs-4 fw-light">{{ day }}</h3>
                    <h3 class="fs-5 fw-lighter"> {{ date|date:"g:iA"|lower }}</h3>
                </div>
                <div id="middle" style="overflow-y: overlay; max-width: 600px;" >
                    <p class="px-3 fst-normal text-break fs-3">{{ text }}</p>
                </div>
                <div class="d-flex justify-content-around align-items-center w-100 pt-1 border-top">
                    <a style="height: 55px; width: 55px;" href="/diary/edit/{{ diary.id }}/">
                        <img src="{% static 'media/detail_images/edit.png' %}" height="55" width="55" alt="Edit">
                    </a>
                    <a class="mt-1" style="height: 55px; width: 55px;" href="/diary/del/{{ diary.id }}/">
                        <img src="{% static 'media/detail_images/delete.png' %}" alt="Del">
                    </a>
                </div>
            </div>
        </main>
    </section>
{% endblock %}