{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section>
        {% include 'navbar.html' %}
        
        {% if user.is_authenticated %}
            <main>
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a href="/diary/read/" class="text-light fs-2">Your Diary`s -></a>
                </div>
            </main>
        {% else %}
            <main>
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a href="/auth/login/" class="text-light fs-2">Before you start, you need to login</a>
                </div>
            </main>
        {% endif %}
    </section>
{% endblock content %}