{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section>
        {% include 'navbar.html' %}
        
        {% if user.is_authenticated %}
            <main>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-block alert-success">
                            <ul class="m-0">
                                <li class="fs-5">
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a href="/diary/read/" class="text-light fs-2">Your Diary`s -></a>
                </div>
            </main>
        {% else %}
            <main>
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a href="/auth/login/" class="text-light fs-2">Before you start, you need to login</a>
                </div>
            </main>
        {% endif %}
    </section>
{% endblock content %}